<%- include('./partials/head') %>

<body>
    <%- include('./partials/nav') %>

        <main class="main">

            <%- include('./partials/breadcrumb') %>
        
            <h2 class="form__header">Prompt</h2>

            <form class="form" action="">
                <% allPrompts.forEach(prompt => { %>      
                    <p class="form__paragraph">
                        <%- prompt.text.replace("{{ Meeting Date and Time }}", '<input type="datetime-local" name="Meeting_Date_and_Time" placeholder="Meeting Date and Time">')
                                    .replace("{{ Meeting Agenda }}", '<input type="textarea" name="Meeting_Agenda" placeholder="Meeting Agenda">')
                                    .replace("{{ Client Contact Information }}", '<input type="text" name="Client_Contact_Information" placeholder="Client Contact Information">') %>
                    </p>

                    <%- include('./partials/buttonSecondary') %>

                    <a class="form__cancel" href="">Cancel</a>

                <% }) %>
            </form>
        
        </main> 
        
        <%- include('./partials/foot') %>
    </div>
</body>

</html>