<%- include('./partials/head') %>

<body>
    <%- include('./partials/nav') %>

        <main class="main">

            <nav class="breadcrumb">
                <ul class="breadcrumb__list">
                    <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Home</a></li>
                    <li class="breadcrumb__item"><a href="/consulting" class="breadcrumb__link">Consulting</a></li>
                    <li class="breadcrumb__item"><a href="/clientMeetings" class="breadcrumb__link">Client meetings</a></li>
                </ul>
            </nav>

            <form class="form" action="">
                <h2 class="form__header">Prompt</h2>
                <% allPrompts.forEach(prompt => { %>      
                    <p class="form__paragraph">
                        <%- prompt.text.replace("{{ Meeting Date and Time }}", '<input type="datetime-local" name="Meeting_Date_and_Time" placeholder="Meeting Date and Time">')
                                    .replace("{{ Meeting Agenda }}", '<input type="textarea" name="Meeting_Agenda" placeholder="Meeting Agenda">')
                                    .replace("{{ Client Contact Information }}", '<input type="text" name="Client_Contact_Information" placeholder="Client Contact Information">') %>
                    </p>

                    <%- include('./partials/buttonSecondary') %>

                    <a class="form__cancel" href="">Cancel</a>

                <% }) %>
            </form>
        
        </main> 
        
        <%- include('./partials/foot') %>
    </div>
</body>

</html>