<%- include('./partials/head') %>

<body>
        <%- include('./partials/nav') %>

        <main class="main">

            <%- include('./partials/breadcrumb') %>
            
                <form class="form" action="">
                    <h2 class="form__header">Prompt</h2>
                    <% allPrompts.forEach(prompt => { %>      
                        <p class="form__paragraph">
                            <%- prompt.text.replace("{{ Last Compliance Review Date }}", '<input type="date" name="Last_compliance_review_date" placeholder="Last compliance review date">')
                                        .replace("{{ Compliance Officer }}", '<input type="text" name="Compliance_officer" placeholder=" Compliance officer">')
                                        .replace("{{ Compliance Document }}", '<input type="file" name="Compliance_Document" placeholder="Compliance Document">') %>
                        </p>
        
                        <%- include('./partials/buttonSecondary') %>
        
                        <a class="form__cancel" href="">Cancel</a>
        
                    <% }) %>
                </form>
        
        </main> 
        
        <%- include('./partials/foot') %>
    </div>
</body>
</html>