<%- include('./partials/head') %>

<body>
        <%- include('./partials/nav') %>

        <main class="main">

            <nav class="breadcrumb">
                <ul class="breadcrumb__list">
                    <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Home</a></li>
                    <li class="breadcrumb__item"><a href="/consulting" class="breadcrumb__link">Consulting</a></li>
                    <li class="breadcrumb__item"><a href="/documentProcessing" class="breadcrumb__link">Document processing</a></li>
                </ul>
            </nav>
        
            <form class="form" action="">
                <h1 class="form__header">Create document processing prompt</h1>
                <% allPrompts.forEach(prompt => { %>      
                    <p class="form__paragraph">
                        <%- prompt.text.replace("{{ Main Findings }}", '<input class="form__input" type="textarea" name="Main_findings" placeholder="Main findings">')
                                    .replace("{{ Supporting Documents }}", '<input class="form__input" type="file" name="Supporting_Documents" placeholder=" Supporting Documents">')
                                    .replace("{{ Report Submission Date }}", '<input class="form__input" type="date" name="Report_Submission_Date" placeholder="Report Submission Date">') %>
                    </p>

                    <%- include('./partials/buttonSecondary') %>

                    <a class="form__cancel" href="">Cancel</a>

                <% }) %>
            </form>
        
        </main> 
        
        <%- include('./partials/foot') %>
    </div>
</body>
</html>