<%- include('./partials/head') %>

<body>
        <%- include('./partials/nav') %>

        <main class="main">

            <nav class="breadcrumb">
                <ul class="breadcrumb__list">
                    <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Home</a></li>
                    <li class="breadcrumb__item"><a href="innovation" class="breadcrumb__link">Innovation</a></li>
                    <li class="breadcrumb__item"><a href="/productLaunchPlanning" class="breadcrumb__link">Product launch planning</a></li>
                </ul>
            </nav>
        
            <form class="form" action="">
                <h2 class="form__header">Prompt</h2>
                <% allPrompts.forEach(prompt => { %>      
                    <p class="form__paragraph">
                        <%- prompt.text.replace("{{ Launch Date }}", '<input type="date" name="Launch_Date" placeholder="Launch Date">')
                                    .replace("{{ Marketing Budget }}", '<input type="number" name="Marketing_Budget" placeholder="Marketing Budget">')
                                    .replace("{{ Project Manager }}", '<input type="text" name="Project_Manager" placeholder="Project Manager">') %>
                    </p>

                    <%- include('./partials/buttonSecondary') %>

                    <a class="form__cancel" href="">Cancel</a>

                <% }) %>
            </form>
        
        </main> 
        
        <%- include('./partials/foot') %>
    </div>
</body>
</html>